
body{
    background-color:#f7ffdd;
}

img{
    width: 150px;
}

#canalfav{
    
    line-height:2px;
}

#pesquisador{
    font-style: bold;
    
}
#asideindex{
    display: inline-block;
    float: right;
padding-right: 35px;
}
#meunome{
    font-family:fantasy
}
#descricao{ 
    font-family: sans-serif;
    font-size: larger;
}