
body{
    background-image: linear-gradient(#ee4540, #20142c);
}

img{
    width: 150px;
    border-radius: 29%;
    
}

#canalfav{
    
    line-height:2px;
}

#pesquisador{
    font-style: bold;
    
}
#asideindex{
    display: inline-block;
    float: right;
padding-right: 35px;
}
#meunome{
    font-family:fantasy
}
#descricao{ 
    font-family: sans-serif;
    font-size: larger;
}